Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_file_not_found
    - ovl_no_viable_member_function_in_call
    - undeclared_var_use  # Serial, WiFi and other Arduino globals

CompileFlags:
  Add:
    # Adafruit SAMD Core (MatrixPortal M4)
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/cores/arduino"
    # SAMD Variants
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/variants/matrixportal_m4"
    # SAMD System headers
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/system/CMSIS/Device/ATMEL"
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/system/CMSIS/CMSIS/Core"
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/system/libsam/include"
    # Core libraries (Wire, SPI)
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/libraries/Wire/src"
    - "-I/home/mckusa/.arduino15/packages/adafruit/hardware/samd/1.7.16/libraries/SPI/src"
    # WiFiNINA - CRITICAL for WiFi support on SAMD
    - "-I/home/mckusa/Arduino/libraries/WiFiNINA/src"
    - "-I/home/mckusa/Arduino/libraries/WiFiNINA/src/utility"
    # Adafruit Graphics Libraries
    - "-I/home/mckusa/Arduino/libraries/Adafruit_GFX_Library"
    - "-I/home/mckusa/Arduino/libraries/Adafruit_BusIO"
    - "-I/home/mckusa/Arduino/libraries/Adafruit_Protomatter/src"
    # ArduinoJson
    - "-I/home/mckusa/Arduino/libraries/ArduinoJson/src"
    # Project source
    - "-I/home/mckusa/Code/matrix-miles/esp32_client_cpp"
    # Compiler defines
    - "-DARDUINO=10816"
    - "-DARDUINO_SAMD_MATRIXPORTAL"
    - "-DARDUINO_ARCH_SAMD"
    - "-D__SAMD51__"
    - "-DUSE_TINYUSB=1"
    # C++ standard
    - "-std=gnu++11"
  Remove:
    # Remove problematic flags that clangd doesn't understand
    - "-fno-rtti"
    - "-mlongcalls"
